body {
    background: #f7f7f7;
    font-family: Verdana;
    width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
    width: 20%;
}

#title, .subtitle, .post_title { 
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: capitalize;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #FFFFFF;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    color: blue;
    text-decoration: none;
}
